body {
  text-align: center;
  margin: 0;
  font-family: 'Merriweather', serif;
  background-color: #DEF5E5;
}

h1 {
  font-size: 562.2%;
  margin: 0 auto;
  color: #66BFBF;
  font-family: 'Sacramento', cursive;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  color: #11999E;
  font-weight: normal;
}

h3 {
  font-weight: normal;
  font-family: 'Montserrat', sans-serif;
  color: #11999E
}

.top-container {
  background-color: #DEF5E5;
  padding: 100px;
}

.bottom-cloud {
  position: absolute;
}

.top-cloud {
  position: absolute;
  right: 30%;
  top: 50px;
}

.center {
  margin-left: auto;
  margin-right: auto;
}

.program {
  font-size: 1rem;
  color: #66BFBF;
}

.footer-link {
  color: #11999E;
}

.skill-row {
  width: 50%;
  margin: 50px auto 50px auto;
  line-height: 2;

}

hr {
  border-style: none;
  border-top-style: dotted;
  color: #11999E;
  border-width: 10px;

}
